pandas==2.3.3
gspread==6.2.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-auth-httplib2==0.2.1
httpx==0.28.1
pypdf==6.4.0
streamlit>=1.52.0,<1.53
streamlit-pdf-viewer==0.0.26
